.container {
  height: 400px;
  display: flex;
  background: #f3adab;
  align-items: center;
  justify-content: center;
}

.judul_container {
  display: flex;
  text-align: center;
}

.judul {
  margin: auto;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.judul h1 {
  letter-spacing: 5px;
  font-size: 56px;
}

.judul h5 {
  letter-spacing: 2px;
  font-size: 15px;
}

.hero_image {
  display: flex;
  object-fit: cover;
  height: 200px;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
