.container {
  height: 400px;
  display: flex;
  background: #c37b47;
  align-items: center;
  justify-content: center;
  position: relative;
}

.judul_container {
  display: flex;
  text-align: center;
  z-index: 10;
}

.judul {
  margin: auto;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.judul h1 {
  letter-spacing: 5px;
  font-size: 56px;
}

.judul h5 {
  letter-spacing: 2px;
  font-size: 15px;
}

.hero_image {
  position: absolute;
  display: flex;
  object-fit: cover;
  height: 400px;
  z-index: 2;
  top: 0;
  right: 60px;
}

.btn {
  padding: 14px 48px;
  font-weight: 600;
  font-size: 14px;
  background-color: #ffff;
  border: solid 1px black;
  justify-content: center;
  margin-top: 30px;
}

.btn:hover {
  background-color: #080808;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
