.container {
  display: flex;
  flex-wrap: nowrap;
}

.kanan {
  flex-basis: 50%;
}

.kiri {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanan img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.konten {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.konten h3 {
  font-size: 14px;
}

.konten h1 {
  padding-bottom: 30px;
  border-bottom: solid 2px black;
  font-size: 36px;
}

.konten p {
  margin-top: 30px;
}

.btn {
  padding: 14px 48px;
  font-weight: 600;
  font-size: 14px;
  background-color: #ffff;
  border: solid 1px black;
  justify-content: center;
  margin-top: 30px;
}

.btn:hover {
  background-color: #080808;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
}
