.header {
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background: #f3adab;
  align-items: center;
  height: 80px;
  top: 0;
  z-index: 999;
}

.list {
  display: flex;
  gap: 1rem;
  color: #010101;
}

.list a {
  text-decoration: none;
}

.list a:hover,
.list a.active {
  color: #fe5252;
}

.logo {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  justify-content: left;
}

.icon {
  color: #fff;
}
