.events {
  margin: 2rem auto;
  max-width: 1440px;
}

.events h1 {
  text-align: center;
  padding-bottom: 50px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: rgb(214, 214, 210);
}

.item img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 1rem;
}
